@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}


.slick-dots {
  display: flex !important; /* Ensure the dots are flex containers */
  justify-content: center; /* Center the dots */
}

.slick-dots li {
  margin: 0 5px; /* Space between dots */
}

.slick-dots li button {
  width: 14px; /* Set the width for the large dot */
  height: 14px; /* Set the height for the large dot */
  border-radius: 50%; /* Make it circular */
  background: #ccc; /* Background color for inactive dots */
  border: none; /* Remove default border */
}

.slick-dots li.slick-active button {
  background: #333; /* Color for the active dot */
}

.slick-dots li button:before {
  display: none; /* Hide the default small dot */
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  outline: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
}
